 * {
        margin: 0;
        padding: 0;
        box-sizing: border-box; /* Optional: Ensures padding and borders are included in element dimensions */
      }

body {
    margin: 0;
    padding: 0;  /* Add padding to the left and right */
    width: 100%;
    
}
header {
    background-color: #152238;
    color: white;
    display: flex;  
    flex-direction: row;
    justify-content: space-between; 
    gap: 50px;
    align-items: center;  
    padding: 10px 200px;  
    padding-bottom: 40px;
    width: 100%;
    
  }
  header h1 {
    margin: 0;
    font-size: 18px;
  }
  div a {
    color: white;
    text-decoration: none;
  }
  
  div.header-links {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    }
  
  div.intro-container {
    background-color: #152238;
    color: white;
    padding: 60px 200px;
    padding-bottom: 90px;
    text-align: left;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 10px;
  }
  div.intro {
    width: 400px;
    height: 100%;
  }
  div.intro h1 {
    font-size: 40px;
  }
  div.intro button {
    height: 30px;
    width: 90px;
    background-color: rgb(26, 121, 180);
    color: white;
    border-radius: 5px;
    font-weight: bold;
    margin: 10px 0;
    border: none;
  }
  div.box-photo {
    background-color: grey;
    max-height: 100%;
    width: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  div.box-photo p {
    text-align: center;
  }
  
  div.info {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding: 40px;
    height: 350px;
  }
  div.info h1 {
    text-align: center;
    font-size: 25px;
  }
  div.box-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
  }
  div.box-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 150px;
   
  }
  div.box {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 150px;
    border: 2px solid rgb(25, 106, 156);
    border-radius: 10px;
    margin: 5px;
  }
  div.box-text {
    text-align: center;
    font-size: 9px;
    width: 100%;
    color: lightgrey;
  }
  div.quote {
    background: lightgray;
    color: gray;
    font-size: 20px;
    font-style: italic;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 50px;
 }
 blockquote {
    display: flex;
    align-items: center;
    justify-content: center;
 }
  .name {
color: black;
 font-size: 10px;
 font-style: normal;
 text-align: right;
 padding-right: 100px;
  }
  div section {
    background-color: rgb(33, 132, 194);
    color: white;
    height: 100px;
    width: 900px;
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    gap: 20px;
    align-items: center;
    margin: 60px auto;
    padding: 20px 75px;
    border-radius: 5px;
  }
 section h2 {
  font-size: 20px;
 }
 div section button {
  background-color: rgb(33, 132, 194);
  color: white;
  font-weight: bold;
  height: 30px;
  width: 100px;
  border: 1px solid white;
  border-radius: 5px;
 }
  footer {
    background-color: #152238;
    color: white;
    height: 90px; 
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 10px;
  }